.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcol {
  width:170px;
  height:auto;
  float:left;
}
.wrapper {
  background: linear-gradient(to right, #fff9c4, #f57f17);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: linear-gradient(to right, #fff9c4 , #f57f17 );
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}
.title-container {
  height: 90vh;
  /*background: url("img/bg.jpg") center center no-repeat;*/
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.title-container__title {
  border-block-end-style: outset;
  background: url("images/container.jpg") ;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}
